:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: center center url('../../../assets/images/mountains.jpg');
  background-size: cover;
}

.sign-in-form {
  min-width: 400px;
  background-color: white;
  opacity: .93;
  padding: 20px;
}

a {
  line-height: 32px;
}

button {
  float: right;
}

.message {
  float: right;
}
